aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
anyio
APScheduler
attrs
cachetools
certifi
chardet
colorama
distro
frozenlist
greenlet
h11
httpcore
httpx
idna
Jinja2
jiter
kerykeion
Mako
MarkupSafe
multidict
numpy
openai
pandas
pillow
pydantic
PyPDF2
pytz
resvg-py
affine
six
sniffio
SQLAlchemy
timezonefinder
tqdm
tzdata
tzlocal
watchdog
XlsxWriter
yarl

typing_extensions
aiogram_dialog
annotated
annotated-types
magic-filter
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
matplotlib
telethon